.container-header {
    width: 100vw;
    height: 50px;
    background-color: rgb(75, 0, 146);
    display: flex;
    justify-content: space-between;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 30px;
    margin-right: 10px;
}

a {
    color: white;
    margin-right: 20px;
}

.header-menu{
    display: flex;
    align-items: center;
}